@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:300,400,500&display=swap');

* {
  margin: 0;
}
body {
  font-family: Roboto;
}
header {
  font-family: 'Oswald';
  height: 86px;
  width: 100%;
}
header * {
  font-weight: 400;
}
header h1 {
  font-size: 22px;
  color: #004566;
  /* padding-top: 17px; */
}
a {
  text-decoration: none;
}
header > a {
  font-size: 15px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: white;
}
header img {
  height: 29px;
  width: 56px;
  margin-bottom: 6px;
  margin-right: 8px;
}
header div.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-top: 17px;
}

/* MOBILE */
@media only screen and (max-width: 850px) {
  header img { display: none; }
}
