@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:300,400,500&display=swap');

* {
  margin: 0;
}
body {
  font-family: Roboto;
}
header {
  font-family: 'Oswald';
  height: 86px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header * {
  font-weight: 400;
}
header h1 {
  font-size: 22px;
  color: #004566;
  /* padding-top: 17px; */
}
header a {
  text-decoration: none !important;
}
header img {
  height: 29px;
  width: 56px;
  margin-bottom: 6px;
  margin-right: 8px;
}
footer {
  background-color: #87c9c3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 11rem;
  padding: 1rem 0;
  justify-content: space-between;
  box-sizing: border-box;
}
footer a {
  color: white;
  text-decoration: underline;
}
footer span {
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: .45rem;
  font-size: 20px;
  color: #146B71;
}

/* MOBILE */
@media only screen and (max-width: 850px) {
  header img { display: none; }
  header { justify-content: center; }
}
